.copyright__text {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0 13px 0 0;
}

.copyright {
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover .copyright__icon {
    fill: @blue-sedona;
  }

  &:hover .copyright__text {
    color: @blue-sedona;
  }

  &:active .copyright__icon {
    fill: #b3b3b3;
  }

  &:active .copyright__text {
    color: #b3b3b3;
  }
}

.copyright__icon {
  fill: #000000;
}
