.form-title(){
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.form-review__title{
  .form-title();
}

.form-review__legend{
  .form-title();
}

.form-review__input-text{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-text-bold::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.form-review__textarea::placeholder{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form-review__label{
  text-transform: uppercase;
}

.form-review__label-thick{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-review__text{
  text-transform: uppercase;
}

.form-review__fieldset{
  border: none;
}

.form-review__bottom-inscription{
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
