.form-title(){
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.form-review{
  width: @mobile-width;
  margin: 0 auto;
  background-color: #FFFFFF;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.form-review__title{
  .form-title();
  margin: 0;
}

.form-review__legend{
  .form-title();
  text-align: center;
}

.form-review__input-text{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-text-bold::placeholder{
  color: rgba(0, 0, 0, 0.3);
}

.form-review__textarea::placeholder{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form-review__label{
  text-transform: uppercase;
}

.form-review__label-thick{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-review__text{
  text-transform: uppercase;
}

.form-review__fieldset{
  border: none;
  display: flex;
  flex-direction: column;
}

.form-review__bottom-inscription{
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}

.form-review__form{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
}

.form-review__fieldset--user-name{
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.form-review__fieldset--contacts{
  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.form-review__fieldset--impression{
  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.form-review__fieldset-wrapper--impression{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form-review__fieldset--attraction{
  @media (min-width: @tablet-width) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
}

.form-review__fieldset-wrapper--attraction{
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form-review__fieldset--emotions{
  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}

.form-review__form-bottom{
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
  }
}
