.hotel-search__title {
  font-family: "PT Sans bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 21px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 33px 0;
    font-size: 30px;
  }
}

.hotel-search__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 32px 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0 0 41px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 46px 0;
  }
}

.hotel-search__button {
  .button-style();
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
  padding: 16px 49px 16px 49px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    min-width: 458px;
  }
}

.hotel-search__wrapper {
  padding-bottom: 49px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 66px;
  }
}
