.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.main-footer__hashtag {
  text-align: center;
  margin: 38px 0 33px 0;
}

.main-footer__social {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 100px 0 97px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 254px 0 256px;
  }
}

.main-footer__copyright {
  margin: 0 auto;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
