.modal-title() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.modal__title {
  .modal-title();
  text-align: center;
  margin: 0 0 37px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: @desktop-width) {
    line-height: 26px;
  }
}

.modal__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

.modal__button {
  .button-style();
  display: block;
  margin: 0 auto;

  &--failure {
    min-width: 180px;
    min-height: 58px;
  }

  &--succes {
    min-height: 58px;
    min-width: 280px;
  }
}
