.modal-succes {
  background-color: #ffffff;
  max-width: @mobile-width;

  @media (min-width: @tablet-width) {
    min-width: 640px;
  }

  &__top {
    padding: 39px 35px 51px 35px;

    @media (min-width: @tablet-width) {
      padding: 44px 68px 51px 68px;
    }

    @media (min-width: @desktop-width) {
      padding: 44px 68px 51px 68px;
    }
  }

  &__bottom {
    background-color: #f2f2f2;
    padding: 20px;

    @media (min-width: @tablet-width) {
      padding: 44px 20px;
    }
  }
}
