.promo{
  background-color: #273746;
  background-image: url(../../img/promo-divider.png) , url(../../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.promo-text{
  margin: 90px 19px 85px 19px;
}
