.promo-mini__wrapper {
  background-image: url(../img/promo-mini-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  background-color: @bg-color-promo;

  @media (min-width: @tablet-width) {
    clip-path: polygon(100% 0, 100% 90%, 95% 90%, 95% 85%, 50% 100%, 5% 85%, 5% 91%, 0 90%, 0 0);
  }
}

.promo-mini__img {
  margin: 50px auto 67px auto;
}
