.promo__wrapper {
  position: relative;
  display: flex;
  background-color: @bg-color-promo;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 905px auto;
  clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);

  @media (min-width: @tablet-width) {
    background-size: 1200px auto;
    clip-path: polygon(100% 0, 100% 93%, 96% 93%, 96% 89%, 50% 100%, 4% 89%, 4% 93%, 0 93%, 0 0);
  }

  @media (min-width: @desktop-width) {
    clip-path: polygon(100% 0, 100% 89%, 79% 93%, 79% 89%, 50% 100%, 21% 89%, 21% 93%, 0 89%, 0 0);
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg@2x.jpg");
  }
}

.promo-text {
  margin: 90px auto 85px auto;

  @media (min-width: @tablet-width) {
    margin: 77px auto 91px auto;
    width: 461px;
    height: 350px;
  }
}
